'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Personalize UI/Syntax'
      'submenu': [
        {
          'label': 'Switch Background'
          'command': 'ui-personalize:next-background'
        },
        {
          'label': 'Toggle Editor'
          'command': 'ui-personalize:toggle'
        }
      ]
    ]
  }
]
