@ui_keyword: #da7a31;
@ui_keyword_use: #da7a31;
@ui_color: #fa7354;
@ui_color_use: #fa7354;
@ui_comment: #ff3d53;
@ui_comment_use: #ff3d53;
@ui_property: #494433;
@ui_property_use: #494433;
@ui_spacer: #766d52;
@ui_spacer_use: #766d52;
@ui_variable: #71deff;
@ui_variable_use: #71deff;
@ui_primary: #fcb09e;
@ui_primary_use: #fcb09e;
@ui_property_two: #ae964e;
@ui_property_two_use: #ae964e;
.bgswitcher { -webkit-filter: !important; } 
atom-workspace, atom-panel, .terminal, atom-panel.modal, .editor, .gutter, atom-panel-container, atom-pane, .sf-menu { background: rgba(0, 0, 0, 0.2)!important; }


span.loading { background-image: url(file:///Users/gray/.atom/packages/apex-ui-personalize/lib/bgswitcher/puff.svg); }
