@ui_keyword: #6d7667;
@ui_keyword_use: #6d7667;
@ui_color: #b2d9ea;
@ui_color_use: #b2d9ea;
@ui_comment: #006a49;
@ui_comment_use: #006a49;
@ui_property: #f8f2f3;
@ui_property_use: #f8f2f3;
@ui_spacer: #ffffff;
@ui_spacer_use: #ffffff;
@ui_variable: #ebd6d4;
@ui_variable_use: #ebd6d4;
@ui_primary: #eef7fa;
@ui_primary_use: #eef7fa;
@ui_property_two: #ffffff;
@ui_property_two_use: #ffffff;
.bgswitcher { -webkit-filter: !important; } 
atom-workspace, atom-panel, .terminal, atom-panel.modal, .editor, .gutter, atom-panel-container, atom-pane, .sf-menu { background: rgba(0, 0, 0, 0.2)!important; }


span.loading { background-image: url(file://c:/Users/gray/.atom/packages/apex-ui-personalize/lib/bgswitcher/puff.svg); }
